h2 {
    text-align: center;
    position: relative;
    top: 30px;
  

}

.aa {
    display: block;
    text-align: center;
    position: relative;
    top: 40px;



}

#text2 {
    text-align: center;
    position: relative;
    top: 60px;
}

.text3 {
    text-align: center;
    position: relative;
    top: 70px;
}

.class {
    border-style: solid;
    border-radius: 18px;
    text-align: center;
    position: relative;
    padding: left 200px;
    margin: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: 80px;
    border-color:#FF6B2C ;
}



